body {
    text-align: center;
    background-color: #05182e;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    margin-top: 1%;
    font-style: italic;
    color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: #DD4124;
}

.green {
    background-color: #009b77;
}

.blue {
    background-color: #B565A7;
}

.yellow {
    background-color: #EFC050;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.restartBtn {
    padding: 15px 40px;
    font-size: 20px;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    margin-top: 3%;
    font-weight: normal;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: transparent;
    color: #FEF2BF;
    display: none;
}

.restartBtn:hover {
    font-style: italic;
    color: blue;
    cursor: pointer;
    transition: all 0.75s ease-in-out;
    border: 3px solid;
    border-radius: 40px;
    background-color: rgb(247, 247, 248);
    border-top-color: #DD4124;
    border-bottom-color: #009b77;
    border-left-color: #EFC050;
    border-right-color: #B565A7;
}


/* Media Query section */

@media (max-width:1200px) {
    .container {
        display: block;
        width: 90%;
        margin: auto;
    }
    #level-title {
        font-size: 2.0rem;
        margin: 5%;
        margin-top: 1%;
        color: #FEF2BF;
    }
    .row {
        display: block;
        width: 100%;
        margin: auto;
    }
    .restartBtn {
        display: block;
        margin: 10% auto;
    }
}

@media only screen and (max-width:620px) {
    .container {
        display: block;
        width: 100%;
        margin: auto;
    }
    .btn {
        margin: 1px;
        display: inline-block;
        height: 180px;
        width: 180px;
        border: 5px solid black;
        border-radius: 20%;
    }
    #level-title {
        font-size: 1.8rem;
        margin: 3% 5% 5%;
        line-height: 1.7;
    }
    .restartBtn {
        display: block;
        margin: 15% auto;
        width: 30%;
        font-size: 1rem;
        padding: 10px;
    }
}